h1 {
  font-weight: normal;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3 {
  font-size: large;
}
h4 {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}