h1 {
  font-weight: normal;
  }
h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
h6 {
  margin-top: 20px;
  font-style: italic;
  }
h3 {
  font-size: large;
  }
h4 {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
div {
  font-size: larger;
  margin: 30px;
}
